
/* GTK3 WIDGET STYLING */

/*
 * Keep in order of:
 *   General -> Specific
 *   Order of appearance in widget tree.
 *   See GtkInspector
 *     GTK_DEBUG=interactive ~/path_to_gtk3/bin/inkscape
 *
 * We need a standardized naming scheme.
 *
 * As of Gtk 3.20, you cannot use widget names.
 */

/* Standard theme based colors. Prefer these.
 *
 * @theme_bg_color
 * @theme_fg_color
 * @theme_base_color
 * @theme_text_color
 * @theme_selected_bg_color
 * @theme_selected_fg_color
 * @theme_tooltip_bg_color
 * @theme_tooltip_fg_color
 *
 */


/* Our own custom shades... better not to use.
 * Lightest to darkest based on linear rgb.
 */
@define-color bg_color0  #ffffff; /* White */
@define-color bg_color05 #f8f8f8; /* Slightly off white */
@define-color bg_color1  #f0f0f0;
@define-color bg_color2  #e0e0e0;
@define-color bg_color3  #d0d0d0;
@define-color bg_color4  #bbbbbb; /* 50% Gray */
@define-color bg_color5  #a5a5a5;
@define-color bg_color6  #898989;
@define-color bg_color7  #636363;
@define-color bg_color8  #000000; /* Black */

/* 'GtkWidget' for Gtk  <= 3.18   */
/* 'widget'    for Gtk  <= 3.19.2 */   
GtkWidget, widget {
/*    font-size: 12pt; */
}

GtkSpinButton {
    padding: 0;
}

spinbutton {
    padding: 0;
}

GtkSpinButton.entry {
    padding-left: 2px;
}

spinbutton.entry {
    padding-left: 2px;
}

SPRuler {
    background-color: @theme_bg_color;
    color:            @theme_fg_color;
}

ruler-widget {
    background-color: @theme_bg_color;
    color:            @theme_fg_color;
}

/* The actual canvas (Inkscape's drawing area). */
SPCanvas {
    background-color: white;
}

combobox window.popup scrolledwindow treeview separator {
}

#font_selector_family {
}

#TextFontFamilyAction_combobox {
    -GtkComboBox-appears-as-list: true;
}

#LockGuides,
#StickyZoom,
#CMS_Adjust {
    padding: 0;
}

/* Keep pallete scrollbar from generating warnings. */
#PreviewHolderScroller .vertical slider {
    min-height: 15px;
}

/* Override minimum size of container children for palette. */
#ColorItemPreview {
  min-height: 5px;
  min-width:  5px;
}

/* Reduce width of Fill and Stroke dialog */
#ColorModeButton {
    padding-left: 0;
    padding-right: 0;
}

/* Reduce width of +/- buttons. */
.up, .down {
    padding-left: 0;
    padding-right: 0;
}

/* InkSpinScale */
#InkSpinScale {
  background: #eee;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 0px;
}

#InkSpinScale spinbutton {
  border-color: #eee;
  border-width: 0 0 0 1px;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
  padding: 0 0 0 1px;
}

/* Hide slider */
#InkSpinScale slider {
    background: none;
    border:     none;
    outline:    none;
    min-width:  0px;
    min-height: 0px;
    padding:    0px;
    margin:     0px;
}

#InkSpinScale scale {
    padding: 2px;
}

#InkSpinScale trough {
    min-height: 24px;
}

#InkSpinScale box.active {
  box-shadow: 0 0 0 1px  rgb(74,144,217);
}
